
body{
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  background: #d7e6ee;
}
nav{
    background-color:rgb(0, 0, 0);
    color:azure;
    padding: 20px 50px;
    max-height: 100px;
    font:italic;
}
.navTop{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.search{
    display: flex;
    align-items: center;
    background-color:navy;
    padding: 10px 20px;
    border-radius: 10px;
}
.searchInput{
    border: none;
    background-color: transparent;
}
.searchInput::placeholder{
    color:lightblue;
}
.tellAStory{
    margin-left: 20px;
}
.navlogIn{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
}
.logIn a{
    font-size: 18px;
    border: 2px /* border type and color*/;
    color: black;
    cursor: pointer;
    display: block;
    background-color: lightgray;
    margin:auto;
}
.logIn a:hover{
  background-color:rgb(10, 66, 179);
}
.logInImg{
    width: 50px;
    height: 50px;
    
}
.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuItem{
    margin-right: 50px;
    cursor: pointer;
    color:lightblue;
    font-weight: 400;
}

.slider{

    background: url("https://cdn.pixabay.com/photo/2018/03/21/10/48/book-3246278_1280.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow:hidden;
    
}

.sliderWrapper{
    display: flex;
    width: 700vw;
    transition: all 1s ease-in-out;

}
.sliderItem{
    color:dodgerblue;
    width: 100vw;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sliderTitle{
    position: absolute;
    left: 10%;
    top:5%;
    color: white;
    font-size: 60px;
    text-shadow: 5px 2px black;
    text-align: center;
    font-weight: 900;
    z-index: 1;
}
/*.sliderBg{
    position:relative;
    left:50%;
    top:0%;
    background-color: yellow;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    
}
*/
.sliderNote{
    position: absolute;
    right: 5%;
    top: 80%;
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    text-shadow: 2px 2px black;
    z-index: 1;
}

.sliderRead{
    position: absolute;
    right: 5%;
    top: 92%;
    color: white;
    background-color: deepskyblue;
    padding: 5px 5px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    z-index: 1;
    cursor: pointer;
}
.sliderRead:hover{
    background-color:rgb(3, 46, 57);
}
.sliderImage{
    width: 500px;
    height: 600px;
    position: relative;
    bottom: 0%;
    left:5%;
    

}

.sliderItem:nth-child(1){
    background: url("https://cdn.pixabay.com/photo/2018/03/21/10/48/book-3246278_1280.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sliderItem:nth-child(2){
    background: url("https://cdn.pixabay.com/photo/2016/03/24/13/45/coffee-1276784_1280.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sliderItem:nth-child(3){
    background: url("https://cdn.pixabay.com/photo/2020/03/16/14/58/family-4937226_1280.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sliderItem:nth-child(4){
    background: url("https://cdn.pixabay.com/photo/2022/10/25/19/55/beach-7546731_1280.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sliderItem:nth-child(5){
    background: url("https://cdn.pixabay.com/photo/2016/11/29/09/41/bag-1868758_1280.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sliderItem:nth-child(6){
    background: url("https://img.freepik.com/free-photo/light-from-open-door_53876-15064.jpg?w=1380&t=st=1709439689~exp=1709440289~hmac=bdd6674bca60bfcad1a6727951237650dfc4f618d27d58b8506a00edf52cece0");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sliderItem:nth-child(7){
    background: url("https://images.pexels.com/photos/1183434/pexels-photo-1183434.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slierItem:nth-child(1) .sliderBg{
    color: yellow;
    width: 400px;
    height: 500px;
    position: relative;
    border-radius: 50%;
}
.features{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;

}
.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.featureIcon{
    width: 70px;
    height: 70px;
}
.featureTitle{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}
.featureDesc{
    color: gray;

}


  .container{
    background: url("https://cdn.pixabay.com/photo/2016/11/19/16/48/notebook-1840276_1280.jpg");
    background-size: cover;
    background-position: center;
    max-width: 500px;
    max-height: 0.01px;
    padding: 0 20px;
    margin: 170px auto;
    
  }
  .wrapper{
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
  }
  .wrapper .title{
    height: 90px;
    background: #3571c5;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper form{
    padding: 30px 25px 25px 25px;
  }
  .wrapper form .box{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
  }
  .wrapper form .box input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  form .box input:focus{
    border-color: #001f62;
    box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
  }
  form .box input::placeholder{
    color: #999;
  }
  .wrapper form .box i{
    position: absolute; 
    width: 47px;
    height: 94%;
    color: #fff;
    font-size: 18px;
    background: #3571c5;
    border: 1px solid #021f19;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper form .pass{
    margin: -8px 0 20px 0;
  }
  .wrapper form .pass a{
    color: #3571c5;
    font-size: 17px;
    text-decoration: none;
  }
  .wrapper form .pass a:hover{
    text-decoration: underline;
  }
  .wrapper form .button input{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #3571c5;
    border: 1px solid #1c58b2;
    cursor: pointer;
  }
  form .button input:hover{
    background: #092f48;
  }
  .wrapper form .switch-link{
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
    color:black;
  }
  .wrapper form .switch-link a{
    color: rgb(37, 116, 186);
    text-decoration: none;
  }
  form .switch-link a:hover{
    text-decoration: underline;
  }